<footer class="footer d-flex align-items-center justify-content-center gap-3 text-white">
  <span>Athens Sports Club. Made with Spring Boot and Angular</span>
  <div class="d-flex gap-3">
    <a href="https://github.com/StefanosMotsos" target="_blank" rel="noreferrer" class="text-white">
      <i class="bi bi-github fs-4"></i>
    </a>
    <a href="https://linkedin.com/in/StefanosMotsos" target="_blank" rel="noreferrer" class="text-white">
      <i class="bi bi-linkedin fs-4"></i>
    </a>
  </div>
</footer>
