<header class="header fixed-top">
  <span routerLink="/" class="fs-4 fw-bold text-white" role="button">Athens Sport Club</span>
  <div class="d-flex align-items-center justify-content-center gap-1">
    <button matButton class="dropdown-btn btn bg-transparent border-0 text-white px-4 py-2 fw-semibold fs-5">
      <span>Members</span>
      <mat-icon>expand_more</mat-icon>
    </button>
    <button matButton class="dropdown-btn btn bg-transparent border-0 text-white px-4 py-2 fw-semibold fs-5">
      <span>Users</span>
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
  <div class="d-flex justify-content-end">
    <a
      routerLink="/login"
      class="login-btn btn bg-transparent border border-white border-2 text-white rounded-pill px-3 py-1 fw-semibold fs-5">
      Login
    </a>
  </div>
</header>
