.header {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 4rem;
  background: linear-gradient(to right, #2d1b4e, #7851a9);
}

.login-btn {
  letter-spacing: 1px;
  transition: all 0.2s ease;
}

.login-btn:hover {
  background-color: white !important;
  color: var(--purple) !important;
}

mat-icon {
  font-size: 1.5rem;
  height: auto;
  width: auto;
  line-height: 1;
  vertical-align: middle;
}

.dropdown-btn {
  letter-spacing: 1px;
  transition: all 0.2s ease;
}

.dropdown-btn:hover {
  background-color: var(--blue) !important;
}
